.element-select{
  width: 100% !important;
  margin: auto !important;
}

.click:hover{
  cursor: pointer;
}

.element-style{
  width: 100%;
  margin: auto;
}

.element-style-checkbox-group{
  width: 50% !important;
  margin: auto !important;
}

.table td.is-selected, .table th.is-selected {
  background-color: rgb(209, 136, 0, 0.5) !important;
  color: #fff;
}

.table td.is-selected, .table th.is-selected {
  background-color: rgb(209, 136, 0, 0.5) !important;
  color: #fff;
}

.required:after {
  content:" *";
  color: red;
}
.row-selected{
  background-color: rgba(25, 25, 255, .1);
}

